<!doctype html>
<!---
  this default.html is based on 
    https://github.com/pages-themes/dinky
--->

<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.min.css">
    <title> {{ page.title }}</title>
</head>

<body>

    <div class="markdown-body">

        <!-- ヘッド -->
        <header>
            <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
            <p class="header">{{ site.description | default: site.github.project_tagline }}</p>
        </header>

        <!--  Markdown の本体 -->
        <section>
            {{ content }}
        </section>

        <footer>
            <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
            <p><a class="buttons github" href="{{ site.github.repository_url }}">View On GitHub</a></p>
        </footer>
    </div>

</body>

</html>
